<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DemoNodeJs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
        <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
        <script src="libs/jquery-3.2.1.min.js"></script>

    </head>
    <style >
      .mauvang{
        background-color: yellow;
      }
    </style>
    <body>
        <div id="root"></div>
        <script type="text/babel" src="js/index.js" />
    </body>
</html>
