
<html lang="en">
    <head>
        <title>DemoNodeJs</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>

    </head>
    <style >
      .mauvang{
        background-color: yellow;
      }
    </style>
    <body>
        <div id="root"></div>
        <script type="text/javascript" src="js/bundle.js" ></script>

